@tailwind base;
@tailwind components;
@tailwind utilities;

.best_sbj_link:visited  {color:#9ca3af;text-decoration:none; } /* 리스트 방문 색상 */

html, body {
    height: 100%;
}
/*페이지 전체 div*/
.wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 20vh;
}

/*헤더를 제외한 페이지 전체*/
.page_full_except_header {
    @apply flex justify-center h-auto min-h-full pb-16 w-full
}
/*페이지 콘텐트 영역*/
.page_content {
    @apply  w-content inline-block justify-center
}

/*푸터*/
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}


.board_title {
    @apply drop-shadow-lg
            px-4
            py-4
            bg-green-100
            text-xl
            font-bold
}
/*폰트 사이즈*/
.jb-xx-small { font-size: xx-small; }
.jb-x-small { font-size: x-small; }
.jb-small { font-size: small; }
.jb-medium { font-size: medium; }
.jb-large { font-size: large; }
.jb-x-large { font-size: x-large; }
.jb-xx-large { font-size: xx-large; }

.text-5xl { font-size: 3.15em;}
.text-6xl { font-size: 4.35em;}

/*넓이*/
@layer components {
    .w-content {width: 75rem}
    /*뉴스게*/
    .w-120 {width: 30rem}
    .w-160 {width: 40rem}
    .w-200 {width: 50rem}
    .w-240 {width: 60rem}
    /*일상게 */
    .w-140 {width: 35rem}
    .w-176 {width: 44rem}
    .w-180 {width: 45rem}

    .w-300px {width: 300px}
}

/*높이*/
@layer components {
    .h-50px {width: 50px}
}



/*게시판*/
.board_to_list {
    @apply px-4 py-1 my-4 text-white text-lg bg-blue-300 hover:bg-blue-700 rounded-lg
}
.board_to_edit {
    @apply px-4 py-1 text-white text-lg bg-blue-500 hover:bg-blue-700
}
.board_to_delete {
    @apply px-4 py-1 text-white text-lg bg-red-500 hover:bg-red-700
}

.button_home_detail {
    @apply px-3 py-2 bg-siteTheme5 hover:bg-siteTheme4 text-lg text-white rounded-xl
}

/*구글 로그인 버튼*/
.google_login_button {
    background: url("/public/images/btn_google_signin_light_normal_web.png") no-repeat;
}
.google_login_button:hover {
    background: url("/public/images/btn_google_signin_light_focus_web.png") no-repeat;
}

/*메인 페이지*/
/*메인페이지 큰 div*/
.main_page_content {
    @apply w-full md:flex
}
/*오더1*/
.main_order1 {
    @apply order-1 flex-grow
}
/*오더2*/
.main_order2 {
    @apply order-2 bg-zinc-50
}

/*메인 페이지 뉴스 인덱스*/

.main_news_index{
    @apply py-1 truncate w-72 md:w-140
}

/*메인 페이지 스토리 인덱스*/
.main_story_index{
    @apply w-80 md:w-140 py-1
}

/*코로나 뉴스 인덱스 페이지 리스트 헤더*/
.covid_news_index_header {
    @apply flex border-b border-t border-gray-400 bg-gray-50
}

/*코로나 뉴스 인덱스 페이지 헤더 번호*/
.covid_news_index_header_id {
    @apply px-3 py-1 w-16 flex justify-center text-xs hidden md:flex
}

/*코로나 뉴스 인덱스 페이지 리스트 헤더 제목*/
.covid_news_index_header_title {
    @apply px-3 py-1 w-64 flex justify-center text-xs w-full
        md:w-120 lg:w-160 xl:w-200 2xl:w-240
}

/*코로나 뉴스 인덱스 페이지 리스트 헤더 날짜*/
.covid_news_index_header_datetime {
    @apply hidden md:flex px-3 py-1 w-44 flex justify-center text-xs
}

/*코로나 뉴스 인덱스 페이지 리스트 아이템 번호*/
.covid_news_index_item_id {
    @apply px-3 py-2 w-16 flex justify-center items-center text-gray-600 text-sm hidden md:flex
}

/*코로나 뉴스 인덱스 페이지 리스트 아이템 제목*/
.covid_news_index_item_title{
    @apply px-3 py-2 truncate w-96 md:w-120 lg:w-160 xl:w-200 2xl:w-240
}

/*코로나 뉴스 인덱스 페이지 리스트 아이템 날짜*/
.covid_news_index_item_datetime {
    @apply hidden md:flex px-3 py-1 w-44 flex justify-center items-center text-xs
}

/*일상 이야기 인덱스 리스트 헤더*/
.lifeStory_index_header {
    @apply hidden md:flex border-b border-t border-gray-400 bg-gray-50 text-xs
}

/*일상 이야기 인덱스 리스트 헤더 번호*/
.lifeStory_index_header_id {
    @apply px-3 py-1 w-24 flex justify-center text-xs
}
/*일상 이야기 인덱스 리스트 헤더 제목*/
.lifeStory_index_header_title {
    @apply px-3 py-1 flex justify-center text-xs w-full
    md:w-180
}
/*일상 이야기 인덱스 리스트 헤더 작성자*/
.lifeStory_index_header_nickname {
    @apply px-3 py-1 w-40 flex justify-center text-xs
}
/*일상 이야기 인덱스 리스트 헤더 조회*/
.lifeStory_index_header_views {
    @apply px-3 py-1 w-20 flex justify-center text-xs
}
/*일상 이야기 인덱스 리스트 헤더 날짜*/
.lifeStory_index_header_datetime {
    @apply px-3 py-1 w-36 flex justify-center text-xs hidden md:flex
}

/*일상 이야기 인덱스 리스트 아이템 번호*/
.lifeStory_index_item_id {
    @apply w-24 hidden md:flex justify-center items-center text-xs px-3 text-gray-500
}
/*일상 이야기 인덱스 리스트 아이템 제목*/
.lifeStory_index_item_title{
    @apply w-96 truncate md:w-180 px-2
}
/*일상 이야기 인덱스 리스트 아이템 작성자*/
.lifeStory_index_item_nickname {
    @apply w-40 text-xs text-gray-500 flex justify-center items-center
}
/*일상 이야기 인덱스 리스트 아이템 조회수*/
.lifeStory_index_item_views {
    @apply w-20 text-xs text-gray-500 flex justify-center items-center
}
/*일상 이야기 인덱스 리스트 아이템 날짜*/
.lifeStory_index_item_datetime {
    @apply w-36 flex justify-center items-center text-xs text-gray-500
}




